
main.caixa-api {
  margin: 0;
}

.caixa-api {
  height: 91vh;
  display: flex;
  justify-content: flex-start;
  background: #d9d9d9;
  padding: 40px 0 0 30px;
}

h3 {
  border: solid 2px blueviolet;
  /* align-items: flex-start; */
  width: 100%;
  
}

.texto {
  border: solid 2px pink;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  gap: 10px;
}


#chave {
  margin-bottom: 10px;
  height: 36px;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
}

#salvarOuDeletarChave {
  background-color: #FFA500;
  font-size: 14px;
  margin-bottom: 10px;
  height: 30px;
  width: 15%;
  border-radius: 5px;
  border: none;
}
@media(max-width: 768px) {
  #salvarOuDeletarChave {
    width: 30%;
    
  }
}
