* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Roboto Condensed;
}
body,
html {
  background: #000000;
  /* height: 100vh;  */
  overflow: hidden; /*Isso remove a barra de rolagem do body */
  height: 100vh; /* Isso define a altura do body para a altura da janela de visualização */
}
header {
  background-color: black;
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  align-items: center;
  height: 6vh;
}
header figure img {
  padding-top: 5px;
  width: 45px;
  height: 37px;
  margin: 8px;
  position: relative;
  left: 0;
}
header h1 {
  color: #ffa500;
  font-family: Lemon;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
a.retorna-home {
  margin: 0;
}

#botaoChaveApi {
  position: fixed;
  right: 108px;
  background: #d9d9d9;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  color: black;
}
a#botaogrupo {
  position: fixed;
  right: 10px;
  text-decoration: none;
  color: orange;
}

footer {
  background-color: #ffa500;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 3px;
  height: 3vh;
}
footer p {
  color: #000000;
  text-align: center;
  font-family: "Lily Script One";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media(max-width: 768px) {
  .cartao {
    width: 35vh;
    height: 45vh;
  }
}

@media(min-width:769px) and (max-width:1024px) {
  .cartao {
    width: 20%;
    min-width: 200px;
    max-width: 300px;
  }
}

@media (min-width: 1440px) {
  .cartao {
    width: 30%; /* Define a largura dos cartões */
    min-width: 150x; /* Largura mínima */
    max-width: 220px; /* Largura máxima */
  }
}





