/* styles.css */

/* Estilos padrão para o contêiner do chat */
/* styles.css */

/* Estilos padrão para o contêiner do chat */


.chat-individual {

  border: solid 2px red;
  width: 100%;
  max-width: 400px;
  height: 86vh; /* Define a altura do contêiner como 100% da altura da janela */
  margin-top: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}

.chat-container{
  display: flex;
}

/* Estilos para a imagem do personagem */
.chat-imagem {
  border: solid 2px blueviolet;
  text-align: center;
 
}
.imgAnime {
  border: solid 2px black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Estilos para o nome do personagem */
.nomeAnime {
  border: solid 2px brown;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Estilos para a conversa */
.conversação {
  border: solid 2px violet;
  max-height: 300px; /* Altura máxima para a área de conversa */
  /* overflow-y: scroll; Adiciona uma barra de rolagem vertical quando necessário */
}

/* Estilos para as mensagens */
ul#chat-menssagem {
  border: solid 2px pink;
  list-style-type: none;
  height: 50vh;
  overflow-y: auto;
}

ul#chat-menssagem li {
  
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.mensagem-enviada{
  border: 1px solid #c3c2c3;
  border-radius: 10px;
  background-color: #c3c2c3;
}

.mensagem-resposta{
  border: 1px solid #c3c2c3;
  border-radius: 10px;
  background-color: #FFA500;

}

.input-button{
  /* border: solid 2px yellow; */
  display: flex;
  /* bottom: 20px; */
  margin-top: 50px;

}
input:focus{
  outline: none;
}

.chat-input{
  height: 30px;
  width: 100%;
  border: 1px solid #c3c2c3;
  border-radius: 10px 0px 0px 10px;
  padding: 5px;

}
.envio{
  border-radius: 0px 10px 10px 0px;
  background-color: #FFA500;
  color: #ffffff;
  font-size: 16px;
  width: 80px;
  border: none;
}

/* Estilos específicos para dispositivos com largura de tela até 600px (smartphones) */
@media only screen and (max-width: 600px) {
  .chat-individual {
    padding: 10px;
  }

  /* .imgAnime { 
    width: 45px;
    height: 37px;
  } */

  .nomeAnime {
    font-size: 16px;
  }
}
